/** General **/

body {
    background: #EEEEEE;
    color: black;
    text-decoration: none;
}


/** Para los enlaces **/

a {
    color: #EEEEEE;
    display: block;
}

a:hover {
    text-decoration: none;
}


/** Colores **/

.Blue,
.Blue:hover {
    color: rgba(64, 64, 197, 0.856);
}

.Orange,
.Orange:hover {
    color: orange;
}


/** Navbar **/

.fondo-dropdown {
    background: #394B59;
    text-decoration: none;
}

nav.cabecera {
    color: grey;
    background: #1A2632;
    /** Selección #2E3A46 **/
    /** Selección #394B59 **/
}

nav.sidebar {
    color: grey;
    background: #394B59;
    /** Selección #394B59 **/
}

.wrapper {
    display: flex;
}

ul.nav-tabs {
    background: #394B59;
    width: 40%;
    min-height: -webkit-fill-available;
}

.titleSliderAdmin {
    font-size: x-large;
}

.nav-item a:hover {
    background: #2E3A46;
    color: #EEEEEE;
}